<%= render_ember_app :backend do |head, body| %>
    <% head.append do %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ember</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
    <% end %>
    <% body.append do %>
    <% end %>
<% end %>
